@model SkeinGang.AdminUI.Models.DiscordServerDto

<tr>
    <td style="display: none">
        <form id="model_@Model.Id" data-model-id="@Model.Id" asp-action="UpdateDiscordServer" method="post">
            <input asp-for="Id" />
        </form>
    </td>
    <td><input form="model_@Model.Id" asp-for="Id" type="text" disabled/></td>
    <td><input form="model_@Model.Id" asp-for="ServerName" /></td>
    <td><input form="model_@Model.Id" asp-for="ServerId" /></td>
    <td><input form="model_@Model.Id" type="submit" value="Update" disabled/></td>
</tr>
