@using SkeinGang.AdminUI.Services
@using SkeinGang.Data.Enums
@model SkeinGang.AdminUI.Models.MemberSearchResultsDto
@inject SelectEnumService Enums

<section id="member-search">
    <table class="striped">
        <thead>
        <tr>
            <th scope="col">GW2 Name</th>
            <th scope="col">Discord Name</th>
            <th scope="col">MembershipType</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.Players.Count; i += 1)
        {
            <tr id="row_@Model.Players[i].Id">
                <td display="none"><input asp-for="Players[i].Id" readonly /></td>
                <td><input asp-for="Players[i].GameAccount" readonly /></td>
                <td><input asp-for="Players[i].DiscordAccountName" readonly /></td>
                <td><select name="MembershipType" asp-items="Enums.AsSelectOptions(MembershipType.Member)"></select>
                </td>
                <td>
                    <button type="button"
                            hx-target="#static-members"
                            hx-post
                            hx-controller="TeamMembers"
                            hx-action="AddTeamMember"
                            hx-route-teamId="@Model.TeamId"
                            hx-include="closest tr">Add
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</section>
