@model SkeinGang.AdminUI.Models.PlayerDto

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit Player";
}

<section>
    <form asp-action="PostEditPlayer" method="post" data-model-id="@Model.Id">
        <input asp-for="Id" />
        <label>
            ID
            <input asp-for="Id" type="text" disabled />
        </label>
        <label>
            GW2 Name
            <input asp-for="GameAccount" />
        </label>
        <label>
            Discord Name
            <input asp-for="DiscordAccountName" />
        </label>
        <label>
            Discord UserId
            <input asp-for="DiscordAccountId" type="text" />
        </label>
        <label>
            Memberships
            <input asp-for="MembershipCount" disabled />
        </label>
        <input type="submit" value="Update" disabled />
    </form>
</section>
