@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SkeinGang.AdminUI.Models.TeamDto

@{
    ViewBag.Title = "New Static";
    Layout = "_Layout";
}
<form data-model-id="create" asp-action="CreateTeam" method="post">
    <h5>New Static</h5>
    @if (!ViewData.ModelState.IsValid)
    {
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p class="error">@error.ErrorMessage</p>
        }
    }

    @{ await Html.RenderPartialAsync("Components/TeamForm", Model); }

    <input type="submit" value="Save" disabled>
</form>
